In [1]:
#- 패키지 임포트
import pandas as pd
import numpy as np
#import emoji # 이모지 제거용
import re
from soynlp.normalizer import * #반복되는 자음 제거
import time
from tqdm.notebook import tqdm #for문 진행률 
from time import sleep #for문 진행 시간 
from kiwipiepy import Kiwi #문장 분리2

from IPython.display import clear_output
from IPython import display # 램효율을 늘리기 위해 아웃풋 display를 지워줄 것.
from ipywidgets import Output

out = Output()
display.display(out)

Output()

In [2]:
''' 파일 불러오기 '''
df = pd.read_csv("./나무문화/2022/나무문화_본문_2022_6월.csv", encoding='UTF-8')
# print(df.shape, type(df)) # 파일 구조 및 컬럼명 확인용
df['org_idx']= df.index # 인덱스 column 만들기: 문장 분리할 때 사용함
# print(df.columns) # org_idx 제대로 추가됐나 단순 확인용.
post_list = list(df['본문']) #자연어 전처리를 위해 본문을 리스트 형태로

In [3]:
''' 불용어 제거 '''
# post_list 양이 많을 경우 불용어 제거 중에 오류 나면 다시 리스트로 만드는 데 오래 걸려서 카피하는 것임. 안 하고 post_list로 진행해도 됨.
post_list2 = post_list.copy()
for i in range(len(post_list2)):
    post_list2[i] = re.sub('\n', ' ', string=str(post_list2[i])) # 줄바꿈을 띄어쓰기 하나로
    post_list2[i] = re.compile('[^|ㄱ-ㅎ|ㅏ-ㅣ|A-Z|a-z|0-9|가-힣]+').sub(' ',post_list2[i])
    post_list2[i] = repeat_normalize(post_list2[i], num_repeats=1)
	# ↑ ㅋㅋㅋ, ㅎㅎㅎ 등의 의미 없는 자음 삭제. num_repeats가 1이면 반복 글자 중 1개만 남기고 2면 2개만 남김.
    post_list2[i] = re.sub(r"^\s+|\s+$", "", post_list2[i]) # 문서 앞뒤 공백 제거
    post_list2[i] = post_list2[i].split() # 문서 내 공백(1개 이상) 기준으로 자르기
    post_list2[i] = ' '.join(post_list2[i]) # 공백 기준으로 나뉜 문서를 다시 1개의 공백을 두고 붙임.
	# ↑ 문서 내 다중 공백을 지우기 위함.]

df['cleaning'] = pd.DataFrame(post_list2) #불용어 제거된 본문을 데이터 프레임으로

In [4]:
df

,url,본문,org_idx,cleaning
0,https://blog.naver.com/ccalvados/222795576909,"7월 개봉 예정 영화, 신작 영화추천\n신작 영화 추천! 극장 개봉 예정 영화 7월...",0,7월 개봉 예정 영화 신작 영화추천 신작 영화 추천 극장 개봉 예정 영화 7월 리부...
1,https://blog.naver.com/stepan5844/222795577522,6월 20일\n지인이 파니를 위해\n카메라를 닦고 닦고 또 닦아\n완전 새거처럼 만...,1,6월 20일 지인이 파니를 위해 카메라를 닦고 닦고 또 닦아 완전 새거처럼 만들어 ...
2,https://blog.naver.com/i_ipossible/222795577237,2박 3일 파주여행을 하고 온 담담!\n이번 여행은 혼자 떠나기도했고\n요즘 바쁘다...,2,2박 3일 파주여행을 하고 온 담담 이번 여행은 혼자 떠나기도했고 요즘 바쁘다는 핑...
3,https://blog.naver.com/hyhan2028/222795577392,안녕하세요 연쓰입니다. 오늘은 좀 특별한 이색카페를 다녀왔어요.\n연쓰는 평소에 집...,3,안녕하세요 연쓰입니다 오늘은 좀 특별한 이색카페를 다녀왔어요 연쓰는 평소에 집에서 ...
4,https://blog.naver.com/charnnant/222795577621,⏰ 9:30 ~ 18:00\n🚘 주차 가능\n안녕하세요! 챠넷입니다 :D\n장마가 ...,4,9 30 18 00 주차 가능 안녕하세요 챠넷입니다 D 장마가 시작되면서 비가 정말...
...,...,...,...,...
11962,https://blog.naver.com/hsook0417/222754273924,"#신영복 평전\n1. 책소개\n75년, 신영복의 삶을 정리하다!\n돌아간 지 4년이...",11962,신영복 평전 1 책소개 75년 신영복의 삶을 정리하다 돌아간 지 4년이 흘렀지만 여...
11963,https://blog.naver.com/flower_daltuium/2227542...,안녕하세요 #달꽃틔움숲 이에요\n현재 달꽃틔움숲에서는 다양한 커리큘럼의 클래스를 모...,11963,안녕하세요 달꽃틔움숲 이에요 현재 달꽃틔움숲에서는 다양한 커리큘럼의 클래스를 모집 ...
11964,https://blog.naver.com/sohee10723/222754236890,"춘천여행\n레고랜드, 남이섬 말고\n여기어때~??\n강원도 춘천시 신동면 김유정로 ...",11964,춘천여행 레고랜드 남이섬 말고 여기어때 강원도 춘천시 신동면 김유정로 1435 첫번...
11965,https://blog.naver.com/poyang84/222754272099,오늘의 답사 코스\n열세 번째 유네스코 세계유산 '한국의 산사' 영주 부석사를 답사...,11965,오늘의 답사 코스 열세 번째 유네스코 세계유산 한국의 산사 영주 부석사를 답사하러 ...
11966,https://blog.naver.com/sheshow/222699446696,blog\n인류의위대한여행 55개의 글\n인류의위대한여행\n목록닫기\n인류의위대한여...,11966,blog 인류의위대한여행 55개의 글 인류의위대한여행 목록닫기 인류의위대한여행 글 ...

In [5]:
''' 문장 분리 '''
kiwi = Kiwi() #kss보다 속도 빠름 
split_list = [kiwi.split_into_sents(df['cleaning'][i]) for i in tqdm(range(len(df['cleaning'])))]
df['split_list'] = split_list
df

  0%|          | 0/11967 [00:00<?, ?it/s]

,url,본문,org_idx,cleaning,split_list
0,https://blog.naver.com/ccalvados/222795576909,"7월 개봉 예정 영화, 신작 영화추천\n신작 영화 추천! 극장 개봉 예정 영화 7월...",0,7월 개봉 예정 영화 신작 영화추천 신작 영화 추천 극장 개봉 예정 영화 7월 리부...,[(7월 개봉 예정 영화 신작 영화추천 신작 영화 추천 극장 개봉 예정 영화 7월 ...
1,https://blog.naver.com/stepan5844/222795577522,6월 20일\n지인이 파니를 위해\n카메라를 닦고 닦고 또 닦아\n완전 새거처럼 만...,1,6월 20일 지인이 파니를 위해 카메라를 닦고 닦고 또 닦아 완전 새거처럼 만들어 ...,[(6월 20일 지인이 파니를 위해 카메라를 닦고 닦고 또 닦아 완전 새거처럼 만들...
2,https://blog.naver.com/i_ipossible/222795577237,2박 3일 파주여행을 하고 온 담담!\n이번 여행은 혼자 떠나기도했고\n요즘 바쁘다...,2,2박 3일 파주여행을 하고 온 담담 이번 여행은 혼자 떠나기도했고 요즘 바쁘다는 핑...,[(2박 3일 파주여행을 하고 온 담담 이번 여행은 혼자 떠나기도했고 요즘 바쁘다는...
3,https://blog.naver.com/hyhan2028/222795577392,안녕하세요 연쓰입니다. 오늘은 좀 특별한 이색카페를 다녀왔어요.\n연쓰는 평소에 집...,3,안녕하세요 연쓰입니다 오늘은 좀 특별한 이색카페를 다녀왔어요 연쓰는 평소에 집에서 ...,"[(안녕하세요 연쓰입니다, 0, 11, None, []), (오늘은 좀 특별한 이색..."
4,https://blog.naver.com/charnnant/222795577621,⏰ 9:30 ~ 18:00\n🚘 주차 가능\n안녕하세요! 챠넷입니다 :D\n장마가 ...,4,9 30 18 00 주차 가능 안녕하세요 챠넷입니다 D 장마가 시작되면서 비가 정말...,"[(9 30 18 00 주차 가능 안녕하세요 챠넷입니다, 0, 28, None, [..."
...,...,...,...,...,...
11962,https://blog.naver.com/hsook0417/222754273924,"#신영복 평전\n1. 책소개\n75년, 신영복의 삶을 정리하다!\n돌아간 지 4년이...",11962,신영복 평전 1 책소개 75년 신영복의 삶을 정리하다 돌아간 지 4년이 흘렀지만 여...,[(신영복 평전 1 책소개 75년 신영복의 삶을 정리하다 돌아간 지 4년이 흘렀지만...
11963,https://blog.naver.com/flower_daltuium/2227542...,안녕하세요 #달꽃틔움숲 이에요\n현재 달꽃틔움숲에서는 다양한 커리큘럼의 클래스를 모...,11963,안녕하세요 달꽃틔움숲 이에요 현재 달꽃틔움숲에서는 다양한 커리큘럼의 클래스를 모집 ...,"[(안녕하세요 달꽃틔움숲 이에요, 0, 15, None, []), (현재 달꽃틔움숲..."
11964,https://blog.naver.com/sohee10723/222754236890,"춘천여행\n레고랜드, 남이섬 말고\n여기어때~??\n강원도 춘천시 신동면 김유정로 ...",11964,춘천여행 레고랜드 남이섬 말고 여기어때 강원도 춘천시 신동면 김유정로 1435 첫번...,"[(춘천여행 레고랜드 남이섬 말고 여기어때, 0, 21, None, []), (강원..."
11965,https://blog.naver.com/poyang84/222754272099,오늘의 답사 코스\n열세 번째 유네스코 세계유산 '한국의 산사' 영주 부석사를 답사...,11965,오늘의 답사 코스 열세 번째 유네스코 세계유산 한국의 산사 영주 부석사를 답사하러 ...,[(오늘의 답사 코스 열세 번째 유네스코 세계유산 한국의 산사 영주 부석사를 답사하...
11966,https://blog.naver.com/sheshow/222699446696,blog\n인류의위대한여행 55개의 글\n인류의위대한여행\n목록닫기\n인류의위대한여...,11966,blog 인류의위대한여행 55개의 글 인류의위대한여행 목록닫기 인류의위대한여행 글 ...,[(blog 인류의위대한여행 55개의 글 인류의위대한여행 목록닫기 인류의위대한여행 ...

In [6]:
# 데이터프레임을 10개 단위로 나누기
chunk_size = 10
num_chunks = len(df) // chunk_size + 1  # 나머지가 있는 경우 추가적인 청크 필요

dfs = {}
for i in range(num_chunks):
    start_idx = i * chunk_size
    end_idx = (i + 1) * chunk_size
    chunk_df = df[start_idx:end_idx]
    dfs[f"df_{i+1}"] = chunk_df

# 생성된 데이터프레임들 확인
for key, chunk_df in dfs.items():
    print(key)

df_1
df_2
df_3
df_4
df_5
df_6
df_7
df_8
df_9
df_10
df_11
df_12
df_13
df_14
df_15
df_16
df_17
df_18
df_19
df_20
df_21
df_22
df_23
df_24
df_25
df_26
df_27
df_28
df_29
df_30
df_31
df_32
df_33
df_34
df_35
df_36
df_37
df_38
df_39
df_40
df_41
df_42
df_43
df_44
df_45
df_46
df_47
df_48
df_49
df_50
df_51
df_52
df_53
df_54
df_55
df_56
df_57
df_58
df_59
df_60
df_61
df_62
df_63
df_64
df_65
df_66
df_67
df_68
df_69
df_70
df_71
df_72
df_73
df_74
df_75
df_76
df_77
df_78
df_79
df_80
df_81
df_82
df_83
df_84
df_85
df_86
df_87
df_88
df_89
df_90
df_91
df_92
df_93
df_94
df_95
df_96
df_97
df_98
df_99
df_100
df_101
df_102
df_103
df_104
df_105
df_106
df_107
df_108
df_109
df_110
df_111
df_112
df_113
df_114
df_115
df_116
df_117
df_118
df_119
df_120
df_121
df_122
df_123
df_124
df_125
df_126
df_127
df_128
df_129
df_130
df_131
df_132
df_133
df_134
df_135
df_136
df_137
df_138
df_139
df_140
df_141
df_142
df_143
df_144
df_145
df_146
df_147
df_148
df_149
df_150
df_151
df_152
df_153
df_154
df_155
df_156
df_157
df_158
df_159
df_160
df_161
df_162
df_163
df_164
df_165
df_166
df_167
df_168
df_169
df_170
df_171
df_172
df_173
df_174
df_175
df_176
df_177
df_178
df_179
df_180
df_181
df_182
df_183
df_184
df_185
df_186
df_187
df_188
df_189
df_190
df_191
df_192
df_193
df_194
df_195
df_196
df_197
df_198
df_199
df_200
df_201
df_202
df_203
df_204
df_205
df_206
df_207
df_208
df_209
df_210
df_211
df_212
df_213
df_214
df_215
df_216
df_217
df_218
df_219
df_220
df_221
df_222
df_223
df_224
df_225
df_226
df_227
df_228
df_229
df_230
df_231
df_232
df_233
df_234
df_235
df_236
df_237
df_238
df_239
df_240
df_241
df_242
df_243
df_244
df_245
df_246
df_247
df_248
df_249
df_250
df_251
df_252
df_253
df_254
df_255
df_256
df_257
df_258
df_259
df_260
df_261
df_262
df_263
df_264
df_265
df_266
df_267
df_268
df_269
df_270
df_271
df_272
df_273
df_274
df_275
df_276
df_277
df_278
df_279
df_280
df_281
df_282
df_283
df_284
df_285
df_286
df_287
df_288
df_289
df_290
df_291
df_292
df_293
df_294
df_295
df_296
df_297
df_298
df_299
df_300
df_301
df_302
df_303
df_304
df_305
df_306
df_307
df_308
df_309
df_310
df_311
df_312
df_313
df_314
df_315
df_316
df_317
df_318
df_319
df_320
df_321
df_322
df_323
df_324
df_325
df_326
df_327
df_328
df_329
df_330
df_331
df_332
df_333
df_334
df_335
df_336
df_337
df_338
df_339
df_340
df_341
df_342
df_343
df_344
df_345
df_346
df_347
df_348
df_349
df_350
df_351
df_352
df_353
df_354
df_355
df_356
df_357
df_358
df_359
df_360
df_361
df_362
df_363
df_364
df_365
df_366
df_367
df_368
df_369
df_370
df_371
df_372
df_373
df_374
df_375
df_376
df_377
df_378
df_379
df_380
df_381
df_382
df_383
df_384
df_385
df_386
df_387
df_388
df_389
df_390
df_391
df_392
df_393
df_394
df_395
df_396
df_397
df_398
df_399
df_400
df_401
df_402
df_403
df_404
df_405
df_406
df_407
df_408
df_409
df_410
df_411
df_412
df_413
df_414
df_415
df_416
df_417
df_418
df_419
df_420
df_421
df_422
df_423
df_424
df_425
df_426
df_427
df_428
df_429
df_430
df_431
df_432
df_433
df_434
df_435
df_436
df_437
df_438
df_439
df_440
df_441
df_442
df_443
df_444
df_445
df_446
df_447
df_448
df_449
df_450
df_451
df_452
df_453
df_454
df_455
df_456
df_457
df_458
df_459
df_460
df_461
df_462
df_463
df_464
df_465
df_466
df_467
df_468
df_469
df_470
df_471
df_472
df_473
df_474
df_475
df_476
df_477
df_478
df_479
df_480
df_481
df_482
df_483
df_484
df_485
df_486
df_487
df_488
df_489
df_490
df_491
df_492
df_493
df_494
df_495
df_496
df_497
df_498
df_499
df_500
df_501
df_502
df_503
df_504
df_505
df_506
df_507
df_508
df_509
df_510
df_511
df_512
df_513
df_514
df_515
df_516
df_517
df_518
df_519
df_520
df_521
df_522
df_523
df_524
df_525
df_526
df_527
df_528
df_529
df_530
df_531
df_532
df_533
df_534
df_535
df_536
df_537
df_538
df_539
df_540
df_541
df_542
df_543
df_544
df_545
df_546
df_547
df_548
df_549
df_550
df_551
df_552
df_553
df_554
df_555
df_556
df_557
df_558
df_559
df_560
df_561
df_562
df_563
df_564
df_565
df_566
df_567
df_568
df_569
df_570
df_571
df_572
df_573
df_574
df_575
df_576
df_577
df_578
df_579
df_580
df_581
df_582
df_583
df_584
df_585
df_586
df_587
df_588
df_589
df_590
df_591
df_592
df_593
df_594
df_595
df_596
df_597
df_598
df_599
df_600
df_601
df_602
df_603
df_604
df_605
df_606
df_607
df_608
df_609
df_610
df_611
df_612
df_613
df_614
df_615
df_616
df_617
df_618
df_619
df_620
df_621
df_622
df_623
df_624
df_625
df_626
df_627
df_628
df_629
df_630
df_631
df_632
df_633
df_634
df_635
df_636
df_637
df_638
df_639
df_640
df_641
df_642
df_643
df_644
df_645
df_646
df_647
df_648
df_649
df_650
df_651
df_652
df_653
df_654
df_655
df_656
df_657
df_658
df_659
df_660
df_661
df_662
df_663
df_664
df_665
df_666
df_667
df_668
df_669
df_670
df_671
df_672
df_673
df_674
df_675
df_676
df_677
df_678
df_679
df_680
df_681
df_682
df_683
df_684
df_685
df_686
df_687
df_688
df_689
df_690
df_691
df_692
df_693
df_694
df_695
df_696
df_697
df_698
df_699
df_700
df_701
df_702
df_703
df_704
df_705
df_706
df_707
df_708
df_709
df_710
df_711
df_712
df_713
df_714
df_715
df_716
df_717
df_718
df_719
df_720
df_721
df_722
df_723
df_724
df_725
df_726
df_727
df_728
df_729
df_730
df_731
df_732
df_733
df_734
df_735
df_736
df_737
df_738
df_739
df_740
df_741
df_742
df_743
df_744
df_745
df_746
df_747
df_748
df_749
df_750
df_751
df_752
df_753
df_754
df_755
df_756
df_757
df_758
df_759
df_760
df_761
df_762
df_763
df_764
df_765
df_766
df_767
df_768
df_769
df_770
df_771
df_772
df_773
df_774
df_775
df_776
df_777
df_778
df_779
df_780
df_781
df_782
df_783
df_784
df_785
df_786
df_787
df_788
df_789
df_790
df_791
df_792
df_793
df_794
df_795
df_796
df_797
df_798
df_799
df_800
df_801
df_802
df_803
df_804
df_805
df_806
df_807
df_808
df_809
df_810
df_811
df_812
df_813
df_814
df_815
df_816
df_817
df_818
df_819
df_820
df_821
df_822
df_823
df_824
df_825
df_826
df_827
df_828
df_829
df_830
df_831
df_832
df_833
df_834
df_835
df_836
df_837
df_838
df_839
df_840
df_841
df_842
df_843
df_844
df_845
df_846
df_847
df_848
df_849
df_850
df_851
df_852
df_853
df_854
df_855
df_856
df_857
df_858
df_859
df_860
df_861
df_862
df_863
df_864
df_865
df_866
df_867
df_868
df_869
df_870
df_871
df_872
df_873
df_874
df_875
df_876
df_877
df_878
df_879
df_880
df_881
df_882
df_883
df_884
df_885
df_886
df_887
df_888
df_889
df_890
df_891
df_892
df_893
df_894
df_895
df_896
df_897
df_898
df_899
df_900
df_901
df_902
df_903
df_904
df_905
df_906
df_907
df_908
df_909
df_910
df_911
df_912
df_913
df_914
df_915
df_916
df_917
df_918
df_919
df_920
df_921
df_922
df_923
df_924
df_925
df_926
df_927
df_928
df_929
df_930
df_931
df_932
df_933
df_934
df_935
df_936
df_937
df_938
df_939
df_940
df_941
df_942
df_943
df_944
df_945
df_946
df_947
df_948
df_949
df_950
df_951
df_952
df_953
df_954
df_955
df_956
df_957
df_958
df_959
df_960
df_961
df_962
df_963
df_964
df_965
df_966
df_967
df_968
df_969
df_970
df_971
df_972
df_973
df_974
df_975
df_976
df_977
df_978
df_979
df_980
df_981
df_982
df_983
df_984
df_985
df_986
df_987
df_988
df_989
df_990
df_991
df_992
df_993
df_994
df_995
df_996
df_997
df_998
df_999
df_1000
df_1001
df_1002
df_1003
df_1004
df_1005
df_1006
df_1007
df_1008
df_1009
df_1010
df_1011
df_1012
df_1013
df_1014
df_1015
df_1016
df_1017
df_1018
df_1019
df_1020
df_1021
df_1022
df_1023
df_1024
df_1025
df_1026
df_1027
df_1028
df_1029
df_1030
df_1031
df_1032
df_1033
df_1034
df_1035
df_1036
df_1037
df_1038
df_1039
df_1040
df_1041
df_1042
df_1043
df_1044
df_1045
df_1046
df_1047
df_1048
df_1049
df_1050
df_1051
df_1052
df_1053
df_1054
df_1055
df_1056
df_1057
df_1058
df_1059
df_1060
df_1061
df_1062
df_1063
df_1064
df_1065
df_1066
df_1067
df_1068
df_1069
df_1070
df_1071
df_1072
df_1073
df_1074
df_1075
df_1076
df_1077
df_1078
df_1079
df_1080
df_1081
df_1082
df_1083
df_1084
df_1085
df_1086
df_1087
df_1088
df_1089
df_1090
df_1091
df_1092
df_1093
df_1094
df_1095
df_1096
df_1097
df_1098
df_1099
df_1100
df_1101
df_1102
df_1103
df_1104
df_1105
df_1106
df_1107
df_1108
df_1109
df_1110
df_1111
df_1112
df_1113
df_1114
df_1115
df_1116
df_1117
df_1118
df_1119
df_1120
df_1121
df_1122
df_1123
df_1124
df_1125
df_1126
df_1127
df_1128
df_1129
df_1130
df_1131
df_1132
df_1133
df_1134
df_1135
df_1136
df_1137
df_1138
df_1139
df_1140
df_1141
df_1142
df_1143
df_1144
df_1145
df_1146
df_1147
df_1148
df_1149
df_1150
df_1151
df_1152
df_1153
df_1154
df_1155
df_1156
df_1157
df_1158
df_1159
df_1160
df_1161
df_1162
df_1163
df_1164
df_1165
df_1166
df_1167
df_1168
df_1169
df_1170
df_1171
df_1172
df_1173
df_1174
df_1175
df_1176
df_1177
df_1178
df_1179
df_1180
df_1181
df_1182
df_1183
df_1184
df_1185
df_1186
df_1187
df_1188
df_1189
df_1190
df_1191
df_1192
df_1193
df_1194
df_1195
df_1196
df_1197

In [7]:
# ''' 분리된 문장 한 개를 한 row로 '''
# df2 = pd.DataFrame(columns = ['split_str', 'org_idx']) #용량을 줄이기 위해 새로운 데이터프레임으로

# ''' 문장 데이터 프레임 저장 '''
# df2.to_csv("./나무문화/2022/나무문화_본문_6월_전처리.csv", index=False, encoding='UTF-8')

In [8]:
df2 = pd.read_csv("./나무문화/2022/나무문화_본문_6월_전처리.csv", encoding='UTF-8')
df2

Empty DataFrame
Columns: [split_str, org_idx]
Index: []

In [9]:
dfs['df_1']['split_list'].index

RangeIndex(start=0, stop=10, step=1)

In [10]:
for a in range(1,len(dfs)+1):
    for i in tqdm(dfs['df_%s'%a]['split_list'].index):
        for j in range(len(dfs['df_%s'%a]['split_list'][i])):
            split_str= {'split_str': dfs['df_%s'%a]['split_list'][i][j][0], 'org_idx': [i]}
            print(split_str['org_idx'])
            split_df= pd.DataFrame(split_str)
            df2 = pd.concat([df2,split_df])
            df2.reset_index(drop=True, inplace=True)
            display.clear_output(wait=True) # 출력지우기
        else:
            time.sleep(1)
df2.reset_index(drop=True, inplace=True)
df2.to_csv("./나무문화/2022/나무문화_본문_6월_전처리.csv", index=False, encoding='UTF-8')
df2

[4550]

In [ ]:
df2